.headerListaTurnos {
    background-color: burlywood;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 0.3vh solid darkslategrey;
    position: fixed;
    top: 1;
    &__nav {
        width: 100%;
        height: auto;
        @include disFC;
        &__logoMenu {
            width: 45%;
            height: 3.7vh;
            display: flex;
            flex-direction: column;
            gap: 0.7vh;   
            &__lineaNegra {
                background-color: black;
                width: 100%;
                height: 0.8vh;
                border-radius: 0.5vh;
            }
        }
    }
    &__logo {
        width: 100%;
        height: auto;
        @include disFC;
        &__prop {
            width: 80%;
            height: auto;
        }
    }
}

.seleccionFecha {
    width: 100%;
    height: auto;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 12vh 0vh 2vh 0vh;
}

.divSelectAños {
    width: 100%;
    height: auto;
    @include disFC;
    padding-bottom: 2vh;
    &__selectFechas {
        background-color: lightsteelblue;
        width: 60%;
        height: 35px;
        font-size: 22px;
        text-align: center;
        color: black;
        border: 0.3vh solid black;
        border-radius: 0.7vh;
        &__options {
            background-color: lightsteelblue;
            color: black;
        }
    }
}

.divSelectMeses {
    width: 100%;
    height: auto;
    @include disFC;
    padding-bottom: 2vh;
    &__selectFechas {
        background-color: lightsteelblue;
        width: 60%;
        height: 35px;
        font-size: 22px;
        text-align: center;
        color: black;
        border: 0.3vh solid black;
        border-radius: 0.7vh;
        &__options {
            background-color: lightsteelblue;
            color: black;
        }
    }
}

.divSelectDias {
    width: 100%;
    height: auto;
    @include disFC;
    padding-bottom: 2vh;
    &__1erOpcion {
        background-color: lightsteelblue;
        width: 60%;
        height: 35px;
        font-size: 22px;
        text-align: center;
        color: black;
        border: 0.3vh solid black;
        border-radius: 0.7vh;
        &__options {
            background-color: lightsteelblue;
            color: black;
        }
    }
    &__prop {
        background-color: lightsteelblue;
        width: 60%;
        height: 35px;
        font-size: 22px;
        text-align: center;
        color: black;
        border: 0.3vh solid black;
        border-radius: 0.7vh;
        display: none;
        &__options {
            background-color: lightsteelblue;
            color: black;
        }
    }
}

.divRegistroTurnos {
    width: 100%;
    height: auto;
    @include disFC;
    padding-bottom: 1vh;
    font-family: 'Roboto Mono', monospace;
    &__tablaTurnos {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 50px 40px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 40px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
        border-top: $bordeTabla;  
        border-right: $bordeTabla;  
        border-left: $bordeTabla;  
        border-radius: 0.3vh;
        color: wheat;      
        &__hora {
            background-color: lightsteelblue;
            border-bottom: $bordeTabla;
            border-right: $bordeTabla;
            @include disFC;
            font-size: 22px;
            color: black;
        }
        &__cliente {
            background-color: lightsteelblue;
            border-bottom: $bordeTabla;
            @include disFC;
            font-size: 22px;
            color: black;
        }
        &__horarios {
            background-color: wheat;
            border-bottom: $bordeTabla;
            border-right: $bordeTabla;
            @include disFC;
            font-size: 13px;
            color: black;
        }
        &__datosCliente {
            background-color: wheat;
            border-bottom: $bordeTabla;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1.5fr 1fr;
            &__datos {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 2fr 1fr;
                &__nombre {
                    width: 100%;
                    height: auto;
                    @include disFC;
                }
                &__telefono {
                    width: 100%;
                    height: auto;
                    @include disFC;
                }
                &__prop { 
                    background-color: wheat;
                    width: 95%;
                    height: 25px;
                    font-family: 'Roboto Mono', monospace;
                    text-align: center;
                    border: none;
                }
            }  
            &__btn {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding-bottom: 0.5vh;
                &__prop {
                    background-color: lightsteelblue;
                    font-family: 'Roboto Mono', monospace;
                    border: 0.3vh solid black;
                    padding: 0vh 2vh 0vh 2vh;
                }
            }   
        } 
        &__turnoTarde {
            background-color: burlywood;
            grid-column: 1/3;
            @include disFC;
            font-size: 20px;
            color: black;
            border-bottom: 0.3vh solid black;            
        }
    }
}