@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: antiquewhite;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.bodyLogin {
  background-image: url("../img/galaxia.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.bodyLogin__titulo {
  background-color: antiquewhite;
  width: 80%;
  height: auto;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
  padding: 2vh 2vh 2vh 2vh;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
.bodyLogin__titulo__bienvenido {
  font-size: 20px;
}
.bodyLogin__divLogin {
  background-color: antiquewhite;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 8vh 2vh 8vh 2vh;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyLogin__divLogin__titulo {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  padding: 0vh 0vh 2vh 0vh;
}
.bodyLogin__divLogin__label {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  padding: 2vh 0vh 2vh 0vh;
}
.bodyLogin__divLogin__input {
  background-color: wheat;
  height: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  border-radius: 0.5vh;
  text-align: center;
}
.bodyLogin__divLogin__btn {
  background-color: #1e90ff;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5vh solid black;
  margin-top: 4vh;
  text-decoration: none;
}
.bodyLogin__divLogin__btn__prop {
  background-color: #1e90ff;
  width: 100%;
  height: 40px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 700;
}

.headerListaTurnos {
  background-color: #1e90ff;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3vh solid darkslategrey;
}
.headerListaTurnos__img {
  width: 40%;
  height: auto;
}

.seleccionFecha {
  width: 100%;
  height: auto;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 2vh 0vh 2vh 0vh;
}

.divSelectAños {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}
.divSelectAños__selectFechas {
  background-color: lightblue;
  width: 60%;
  height: 35px;
  font-size: 22px;
  text-align: center;
  color: black;
  border: 0.3vh solid black;
  border-radius: 0.7vh;
}
.divSelectAños__selectFechas__options {
  background-color: lightblue;
  color: black;
}

.divSelectMeses {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}
.divSelectMeses__selectFechas {
  background-color: lightblue;
  width: 60%;
  height: 35px;
  font-size: 22px;
  text-align: center;
  color: black;
  border: 0.3vh solid black;
  border-radius: 0.7vh;
}
.divSelectMeses__selectFechas__options {
  background-color: lightblue;
  color: black;
}

.divSelectDias {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}
.divSelectDias__1erOpcion {
  background-color: lightblue;
  width: 60%;
  height: 35px;
  font-size: 22px;
  text-align: center;
  color: black;
  border: 0.3vh solid black;
  border-radius: 0.7vh;
}
.divSelectDias__1erOpcion__options {
  background-color: lightblue;
  color: black;
}
.divSelectDias__prop {
  background-color: lightblue;
  width: 60%;
  height: 35px;
  font-size: 22px;
  text-align: center;
  color: black;
  border: 0.3vh solid black;
  border-radius: 0.7vh;
  display: none;
}
.divSelectDias__prop__options {
  background-color: lightblue;
  color: black;
}

.divRegistroTurnos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  font-family: "Roboto Mono", monospace;
}
.divRegistroTurnos__tablaTurnos {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  border-top: 0.3vh solid black;
  border-right: 0.3vh solid black;
  border-left: 0.3vh solid black;
  border-radius: 0.3vh;
  color: wheat;
}
.divRegistroTurnos__tablaTurnos__hora {
  background-color: #1e90ff;
  border-bottom: 0.3vh solid black;
  border-right: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: black;
}
.divRegistroTurnos__tablaTurnos__cliente {
  background-color: #1e90ff;
  border-bottom: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: black;
}
.divRegistroTurnos__tablaTurnos__horarios {
  background-color: wheat;
  border-bottom: 0.3vh solid black;
  border-right: 0.3vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: black;
}
.divRegistroTurnos__tablaTurnos__inputs {
  background-color: wheat;
  border-bottom: 0.3vh solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
}
.divRegistroTurnos__tablaTurnos__inputs__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divRegistroTurnos__tablaTurnos__inputs__input__prop {
  background-color: wheat;
  width: 95%;
  height: 20px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  border: none;
}
.divRegistroTurnos__tablaTurnos__inputs__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0.5vh;
}
.divRegistroTurnos__tablaTurnos__inputs__btn__prop {
  background-color: lightsteelblue;
  font-family: "Roboto Mono", monospace;
  border: 0.3vh solid black;
  padding: 0vh 2vh 0vh 2vh;
}
.divRegistroTurnos__tablaTurnos__turnoTarde {
  background-color: burlywood;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  border-bottom: 0.3vh solid black;
}/*# sourceMappingURL=main.css.map */